* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: rgb(20, 20, 20);
  background-color: rgb(250, 250, 250);
}

.page-carousel {
}

.carousel {
  max-width: 992px;
  padding: 1rem;
  border: solid;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin: 2rem auto;
  display: column;
}

.iconsandarrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon {
  margin-left: 150px;
  margin-right: 150px;
}

.leftarrow, .rightarrow {
  font-size: 68px;
  text-align:space-between;
}

.dots {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.dot1, .dot2, .dot3, .dot4, .dot5{
  padding: .5rem;
}
